/* body */
h1{
    border: 3px solid #c48e6b;
    padding: 10px; 
    background-color: #749492;
    margin-top: 10px; 
    max-width: 50%;
    margin-left: 25%; 
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    color: #3d4150; 
}
footer{
    margin-top: 600px;
    background-color: #555b6e; 
    border-top: 2px solid #c48e6b;
    height: 50px; 
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5); 
    padding-top: 15px; 
}
.btn{
    background-color: #c48e6b;
    border-radius: 0;
    border: 1px solid #856149;
}
/* home */
.home-page{
    box-shadow: 5px 5px 15px 0px #00000075;
    height: 200px; 
    padding-top: 60px; 
    margin-top: 50px; 
    border: 1px solid #c48f6b8f; 
    background-color: #555b6e;
    color: rgba(255, 255, 255, 0.9); 
    width: 90%; 
    margin-left: 5%;
}
/* posts list */
.card{
    border: 2px solid #c48e6b;
}
.card-body{
    background-color: #555b6e;
    color: rgba(255, 255, 255, 0.5); 
}
.card-title{
    letter-spacing: 4px;
    padding: 5px; 
}
/* new post */
form{
    box-shadow: 5px 5px 15px 0px #00000075;
    border: 1px solid #c48f6b8f; 
    background-color: #555b6e;
    color: rgba(255, 255, 255, 0.9); 
    width: 50%; 
    margin-left: 25%;
    padding: 20px;
}
/* about me */
.about-me-section{
    display: flex; 
    flex-direction: row;
}
.about-me-writing{
    display: flex; 
    flex-direction: column;
    box-shadow: 5px 5px 15px 0px #00000075;
    margin-left: 25%; 
    border: 1px solid #c48f6b8f; 
    background-color: #555b6e;
    color: rgba(255, 255, 255, 0.9); 
}
.about-me{
    margin: 10px; 
    height: 100px; 
    margin-top: 10%; 
}
span{
    border-bottom: 1px solid white;
    width: 30%;
    margin-left: 35%;
}
img{
    max-height: 500px;
    box-shadow: 5px 5px 15px 0px #00000075;
    border: 1px solid #c48f6b8f; 
    margin-right: 25%; 
    margin-left: 10px; 
}